#trybewarts-header-title {
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#email, #password, #btn {
  margin: 5px;
  border-radius: 5px;
}

#btn, #submit-btn {
  background-color: rgb(43, 116, 177);
  border-radius: 5px;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

h3 {
  text-align: center;
}

.trybewarts-header-logo {
  width: 50px;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin: 30px;
}

main {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(247, 244, 240);
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

div {
  margin: 10px;
}

.evaluation-container {
  display: flex;
  justify-content: space-evenly;
}

#input-name, #input-lastname, #input-email, #house {
  border-radius: 5px;
  width: max-content;
}

.family {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.subject {
  display: flex;
  max-width: 275px;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
}

#label-rate {
  display: flex;
  justify-content: space-between;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  background-color: rgb(70, 79, 87);
  color: aliceblue;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}
